<h1>CONFIDENTIAL</h1>

<% if @marks.present? %>
  <% @marks.each do |m| %>
    <h5><%= m.username %></h5>
    <h5><%= image_tag m.image_url %></h5>
    <h5>Location: <%=if  m.location.nil? then "N/A" else m.location end %></h5>
    <h5><%= link_to "Go to Profile", m.link, :target => "_blank" %></h5>
    <% if m.provider == "twitter" %>
      <a class="twitter-timeline" href="https://twitter.com/<%= m.username %>" data-widget-id="365889744950931457" data-screen-name="<%= m.username %>">Tweets by @<%= m.username %></a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    <% end %>
    <%= link_to "Unfollow Mark", mark_path(m), method: "delete", class: "btn btn-danger" %>
  <% end %>
<% else %>
  <h2>No Marks yet!</h2>
<% end %>
