<div class="col-xs-6 col-xs-offset-3">
  <% if params[:provider] == "twitter" || params[:provider] == "vimeo" %>
    <form role="form">
      <div class="form-group">
        <%= render partial: "shared/search", locals: { provider: params[:provider] }  %>
      </div>
    </form>
    <% if !@search_term.nil? %>
    <% if @marks %>
      <% @marks.each do |mark| %>
        <h5><%= mark.username %></h5>
        <h5><%= image_tag mark.image_url %></h5>
        <h5>Location: <%=if  mark.location.nil? then "N/A" else mark.location end %></h5>
        <h5><%= link_to "Go to Profile", mark.link %></h5>
        <h5><%= link_to "Add to your Marks", twitter_subscribe_path(
            params: {
              name: mark.username,
              profile_picture: mark.image_url
            }
          ),
            method: :post,
            class: "btn btn-default" %></h5>
      <% end %>
    <% end %>
      <% if @mark %>
        <% if @mark.class == String %>
          <%= @mark %>
        <% else %>
          <h5><%= @mark.username %></h5>
          <h5><%= image_tag @mark.image_url %></h5>
          <h5>Location: <%=if  @mark.location.nil? then "N/A" else @mark.location end %></h5>
          <h5><%= link_to "Go to Profile", @mark.link %></h5>
        <% end %>
          <% if params[:provider] == "vimeo" %>
            <h5><%= link_to "Add to your Marks", vimeo_subscribe_path(
                params: {
                  name: params[:username],
                  profile_picture: params["image_url"]
                }
              ),
                method: :post,
                class: "btn btn-default" %></h5>
          <% elsif params[:provider] == "twitter" %>
            <a class="twitter-timeline" href="https://twitter.com/<%= @mark.username %>" data-widget-id="686367747584831488">Tweets by @<%= @mark.username %></a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

            <h5><%= link_to "Add to your Marks", twitter_subscribe_path(
                params: {
                  name: params[:username],
                  profile_picture: params["image_url"]
                }
              ),
                method: :post,
                class: "btn btn-default" %></h5>
          <% end %>
        <% end %>
      <% end %>
  <% else %>
    You are lost.
  <% end %>
</div>
