<div class="col-md-12 text-center">
  <% if params[:provider] == "twitter" || params[:provider] == "vimeo" %>
    <form role="form">
      <div class="form-group">
        <%= render partial: "shared/search", locals: { provider: params[:provider] }  %>
      </div>
    </form>
    <% if !@search_term.nil? %>
      <% if @marks && @marks.empty? %>
        <div class="alert alert-warning">
          <strong>Warning!</strong> The requested user could not be found.
        </div>
      <% else %>
      <% @marks.each do |m| %>
        <div class="col-md-4 bottom-margin">
          <% if !m.nil? %>
            <% if m.provider == "twitter" %>
              <h4><%= m.name%></h4>
              <h5>@<%= m.username%></h5>
              <%= image_tag m.image_url, class: "profile-image"%>
              <h5>Location: <%=if  m.location.nil? then "N/A" else m.location end %></h5>
              <h5><%= link_to "Add to your Marks", twitter_subscribe_path(
                  params: {
                    name: m.username,
                    profile_picture: m.image_url
                  }
                ),
                  method: :post,
                  class: "btn btn-default" %></h5>
            <% elsif m.provider == "vimeo" %>
              <h4><%= m.name %></h4>
              <h5><%= m.username%></h5>
              <%= image_tag m.image_url, class: "profile-image"%>
              <h5>Location: <%=if  m.location.nil? then "N/A" else m.location end %></h5>
              <h5><%= link_to "Add to your Marks", twitter_subscribe_path(
                  params: {
                    name: m.username,
                    profile_picture: m.image_url
                  }
                ),
                  method: :post,
                  class: "btn btn-default" %></h5>
            <% end %>
          <% end %>
        </div>
      <% end %>
      <% end %>
    </div>
    <% end %>
  <% else %>
    You are lost.
  <% end %>
</div>
