<div class="col-md-12 text-center">
  <% if params[:provider] == "twitter" || params[:provider] == "vimeo" %>
    <form role="form">
      <div class="form-group">
        <%= render partial: "shared/search", locals: { provider: params[:provider] }  %>
      </div>
    </form>
    <% if !@search_term.nil? %>
      <% if @marks && @marks.empty? %>
        <div class="alert alert-warning">
          <strong>Warning!</strong> The requested user could not be found.
        </div>
      <% else %>
<<<<<<< HEAD
      <% @marks.each do |m| %>
        <div class="col-md-4 bottom-margin">
          <% if !m.nil? %>
            <% if m.provider == "twitter" %>
              <h4><%= m.name%></h4>
              <h5>@<%= m.username%></h5>
              <%= image_tag m.image_url, class: "profile-image"%>
              <h5>Location: <%=if  m.location.nil? then "N/A" else m.location end %></h5>
              <h5><%= link_to "Add to your Marks", twitter_subscribe_path(
                  params: {
                    name: m.username,
                    profile_picture: m.image_url
                  }
                ),
                  method: :post,
                  class: "btn btn-default" %></h5>
            <% elsif m.provider == "vimeo" %>
              <h4><%= m.name %></h4>
              <h5><%= m.username%></h5>
              <%= image_tag m.image_url, class: "profile-image"%>
              <h5>Location: <%=if  m.location.nil? then "N/A" else m.location end %></h5>
              <h5><%= link_to "Add to your Marks", twitter_subscribe_path(
                  params: {
                    name: m.username,
                    profile_picture: m.image_url
                  }
                ),
                  method: :post,
                  class: "btn btn-default" %></h5>
                  <a class="twitter-timeline" href="https://twitter.com/<%= m.username %>" data-widget-id="686367747584831488">Tweets by @<%= m.username %></a>
                  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
            <% end %>
=======
        <% @marks.each do |mark| %>
          <h5><%= mark.username %></h5>
          <h5><%= image_tag mark.image_url %></h5>
          <h5>Location: <%=if  mark.location.nil? then "N/A" else mark.location end %></h5>
          <h5><%= link_to "Go to Profile", mark.link %></h5>
          <% if params[:provider] == "twitter" %>
            <a class="twitter-timeline" href="https://twitter.com/<%= mark.username %>" data-widget-id="365889744950931457" data-screen-name="<%= mark.username %>">Tweets by @<%= mark.username %></a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
            <h5><%= link_to "Add to your Marks", twitter_subscribe_path(
                params: {
                  name: mark.username,
                  profile_picture: mark.image_url
                }
              ),
                method: :post,
                class: "btn btn-default" %></h5>
          <% elsif params[:provider] == "vimeo" %>
            <h5><%= link_to "Add to your Marks", vimeo_subscribe_path(
              params: {
                name: mark.username,
                profile_picture: params["image_url"]
                }
              ),
              method: :post,
              class: "btn btn-default" %></h5>
>>>>>>> 1df821f1bb8dca440057f9b8fc8f0f8e8baf9448
          <% end %>
        </div>
      <% end %>
      <% end %>
    </div>
    <% end %>
  <% else %>
    You are lost.
  <% end %>
</div>
