<div class="col-xs-4 col-xs-offset-4">
  <% if params[:provider] == "twitter" %> 

    <form role="form">
      <div class="form-group">
        <%= render partial: "shared/search", locals: { provider: :twitter }  %>
      </div>
    </form>

  <% elsif params[:provider] == "vimeo" %>
    <form role="form">
      <div class="form-group">
        <%= render partial: "shared/search" %>
      </div>
    </form>
    <% if !@search_term.nil? %> 
     <% if @mark.class == String %> 
        <%= @mark %> 
      <% else %> 
        <h5><%= @mark.username %></h5> 
        <h5><%= image_tag @mark.image_url %></h5> 
        <h5>Location: <%=if  @mark.location.nil? then "N/A" else @mark.location end %></h5> 
        <h5><%= link_to "Go to Profile", @mark.link %></h5>
        <h5>Add <%= @mark.username %> to your Marks.</h5>
      <% end %>
    <% end %>
  <% else %> 
    You are lost.
  <% end %>
</div>