
<div class="container">
  <div class="page-header">
    <h1 id="timeline">Skynet</h1>
  </div>
  <div class="row">
    <%= link_to "Sign in with Twitter", "/auth/twitter", class:"btn btn-default" %>
    <%= link_to "Sign in with Instagram", "/auth/instagram", class:"btn btn-default" %>
    <%= link_to "Sign in as OmniAuth Dev", "/auth/developer", class:"btn btn-default" %>
    <hr>
  </div>
  <div class="row">
    <form class="navbar-search">
      <input type="text" class="search-query span3" placeholder="Search Twitter">
      <%= link_to "Placeholder Twitter Search Results", "/twitter_results", class:"btn btn-default" %>
    </form>
    <br>
    <form class="navbar-search">
      <input type="text" class="search-query span3" placeholder="Search Vimeo">
      <%= link_to "Placeholder Vimeo Search Results", "/vimeo_results", class:"btn btn-default" %>
    </form>
    <hr>
  </div>

  <ul class="timeline">
    <% @sample_stories.each do |story| %>
    <li>
      <div class="timeline-badge"><i class="fa fa-twitter"></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title"><%= story.user.username %></h4>
          <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> <%= story.created_at %> via Twitter</small></p>
        </div>
        <div class="timeline-body">
          <p><%= story.text %></p>
        </div>
      </div>
    </li>
    <% end %>
  </ul>


HELLO SKYNET TWEET TWEET
