
<div class="container">
  <div class="page-header">
      <% if @current_user %>
        <h1 id="timeline">Welome to Skynet, <%= "#{@current_user.username}" %></h1>
      <% else %>
        <h1 id="timeline">Skynet</h1>
      <% end %>
  </div>
  <div class="row">
    <% if @current_user %>
      <%= link_to "Logout", "/logout", class: "btn btn-default" %>
    <% else %>
      <%= link_to "Sign in with Twitter", "/auth/twitter", class:"btn btn-default" %>
      <%= link_to "Sign in with Instagram", "/auth/instagram", class:"btn btn-default" %>
      <%= link_to "Sign in as OmniAuth Dev", "/auth/developer", class:"btn btn-default" %>
    <% end %>
    <hr>
  </div>

  <% if @current_user %>
    <div class="row">
      <%= form_tag "/twitter_results", :method => 'get' do %>
        <p>
          <%= text_field_tag :search, params[:search] %>
          <%= submit_tag "Search Twitter", class:"btn btn-default" %>
        </p>
      <% end %>
      <br>
      <%= form_tag "/vimeo_results", :method => 'get' do %>
        <p>
          <%= text_field_tag :search, params[:search] %>
          <%= submit_tag "Search Vimeo", class:"btn btn-default" %>
        </p>
      <% end %>
      <hr>
    </div>
  <% end %>

  <ul class="timeline">
    <% @sample_stories.each do |story| %>
    <li>
      <div class="timeline-badge"><i class="fa fa-twitter"></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title"><%= story.user.username %></h4>
          <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> <%= story.created_at %> via Twitter</small></p>
        </div>
        <div class="timeline-body">
          <p><%= story.text %></p>
        </div>
      </div>
    </li>
    <% end %>
  </ul>

  <ul class="timeline">
    <% @vimeo_stories.each do |story| %>
    <li>
      <div class="timeline-badge"><i class="fa fa-vimeo"></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title"><%= story["user_name"] %></h4>
          <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> <%= story["upload_date"] %> via Vimeo</small></p>
        </div>
        <div class="timeline-body">
          <iframe src="//player.vimeo.com/video/<%= story["id"] %>" width="WIDTH" height="HEIGHT" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

        </div>
      </div>
    </li>
    <% end %>
  </ul>
