
<div class="container">
  <div class="page-header">
      <% if @current_user %>
        <h1 id="timeline">Welome to Skynet, <%= "#{@current_user.username}" %></h1>
      <% else %>
        <h1 id="timeline">Skynet</h1>
      <% end %>
  </div>
  <div class="row">
    <% if @current_user %>
      <%= link_to "Logout", "/logout", class: "btn btn-default" %>
    <% else %>
      <%= link_to "Sign in with Twitter", "/auth/twitter", class:"btn btn-default" %>
      <%= link_to "Sign in with Github", "/auth/github", class:"btn btn-default" %>
      <%= link_to "Sign in as OmniAuth Dev", "/auth/developer", class:"btn btn-default" %>
    <% end %>
    <hr>
  </div>


  <% if @current_user %>
    <div class="row">
      <%= form_tag "/twitter_results", :method => 'get' do %>
        <p>
          <%= text_field_tag :search, params[:search] %>
          <%= submit_tag "Search Twitter", class:"btn btn-default" %>
        </p>
      <% end %>
      <br>
      <%= form_tag "/vimeo_results", :method => 'get' do %>
        <p>
          <%= text_field_tag :search, params[:search] %>
          <%= submit_tag "Search Vimeo", class:"btn btn-default" %>
        </p>
      <% end %>
      <hr>
    </div>
  <% end %>
    <%= render 'common/default_content' %>
