<%= link_to "Home", root_path, class:"btn btn-default" %>

<h1><%= @user_name %></h1>
<%= image_tag(@user_tweets[0].user.profile_image_url) %>
<br>
<br>

<% if @button == true %>
  <%= button_to "Subscribe", twitter_subscribe_path(@user_name), class:"btn btn-default" %>
<% else %>
  <p>You are already subscribed to this feed</p>
<% end %>

<br>
<br>

  <% @user_tweets.each do |tweet| %>
  <div class="well">
      <%= tweet.text %>
  </div>
  <% end %>
</ul>
