<%= link_to "Home", root_path, class:"btn btn-default" %>
TODO: Add back button
TODO: Allow subscriptions
TODO: Add "No results found message when no results (does not happen when there are users we have excluded because they have no videos)"


<% vimeo_env = ENV["VIMEO_ACCESS_TOKEN"]%>

<h1> Search Results </h1>
<div class="col-sm-6">
  <% @vimeo_results.each do |search| %>
  <% photo = search["pictures"] %>
  <% videos = search["metadata"]["connections"]["videos"]["total"] %>
    <% if videos != 0 %>
      <% uid = search["uri"].byteslice(7..-1) %>
      <% embed = HTTParty.get("https://api.vimeo.com/users/#{uid}/videos",  headers: {"Authorization" => "bearer #{vimeo_env}", 'Accept' => 'application/json' }, format: :json).parsed_response %>
      <% public_embed = embed["data"][0]["privacy"]["embed"] %>
      <%  if public_embed == "public" %>
      <div class="well well-lg">
        <table width="100%">
          <tr>
            <td width="40%"><a href="/vimeo_results/<%= search["uri"] %>" ><%= search["name"] %></a></td>
            <td width="40%">
              <% if photo!= nil %>
                <%= image_tag(photo["sizes"][1]["link"], height: '75', width: '75') %>
                <% end %>
              </td>
              <td width="40%"><%= search["bio"]%></td>
            </tr>
          </table>
        </div>
      <% end %>
    <% end %>
  <% end %>
  </div>
  <div class="col-sm-8"></div>
