<h1>This is the index page</h1>
<%= @me.screen_name %> has <%= @me.friends_count %> friends
<br />
About <%= @me.screen_name %>: <%= @me.description %>
<br />
<%= @you.screen_name %> has <%= @you.friends_count %> friends
<br />
About <%= @you.screen_name %>: <%= @you.description %>
