<h1>This is the index page</h1>
<%= @me.screen_name %> has <%= @me.friends_count %> friends
<br />
About <%= @me.screen_name %>: <%= @me.description %>
<br />
<%= @you.screen_name %> has <%= @you.friends_count %> friends
<br />
About <%= @you.screen_name %>: <%= @you.description %>

<br />
<br />


<% if !!current_user %>
  <%= image_tag current_user.image %>
  <h1><%= current_user.name %></h1>
  <%= link_to "Logout", logout_path %>
<% else %>
  <%= link_to "Login", "/auth/developer" %>
<% end %>
<br />
<br />

<div>
<% @instagram.each do |instagram| %>

  <%= image_tag instagram.images.standard_resolution.url %>

<% end %>
</div>
<br />
<div>
  <p> Here is an example of using a user search result</p>
</div>
<% @instagram_search.each do |result| %>
  <h1><%= result.full_name %></h1>
<% end %>
