<h1>This is the index page</h1>



<% if !!current_user %>
  <%= image_tag current_user.image %>
  <h1><%= current_user.name %></h1>
<% end %>

<%= form_for @twitter_user do |f| %>
  <%= f.label "Screen name:" %>
  <%= f.text_field :screen_name %>
  <%= f.submit %>
<% end %>
<br />
<br />

<div>
  <p> vimeo examples </p>
<%= @user_info["display_name"] %>
<%= image_tag @user_info["portrait_small"] %>

<% @user_videos.each do |video| %>
    <%= image_tag video["thumbnail_large"] %>
<% end %>
