<!DOCTYPE html>
<html>
<head>
  <title>Lynx</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <h1 class="title"><%= link_to "lynx", "/" %></h1>
  <% if !flash.empty? %>
    <div>
      <% flash.each do |key, value| %><%= value %>
      <% end %>
    </div>
  <% end %>

  <% if !current_user.nil? %>
  <div class="">
    <%= link_to "LOGOUT", logout_path, method: :delete %>
  </div>
  <% else %>
  <div class="">
    <%= link_to "LOGIN", "/auth/developer" %>
    <%= select_tag("/", options_for_select([["Twitter", 1], ["Vimeo", 2]])) do %>
    <% end %>
  </div>
  <% end %>

  <%= yield %>

</body>
</html>
