<!DOCTYPE html>
<html>
<head>
  <title>Lynx</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <h1 class="title"><%= link_to "lynx", "/" %></h1>
  <% if !flash.empty? %>
    <div>
      <% flash.each do |key, value| %><%= value %>
      <% end %>
    </div>
  <% end %>

  <% if !current_user.nil? %>
  <div class="">
    <%= link_to "LOGOUT", logout_path, method: :delete %>
  </div>
  <% else %>

    <%= form_tag(search_results_path, :method => "get") do %>
      <%= select_tag("provider", options_for_select([["Twitter", 1], ["Instagram", 2]])) %>
        <div class="search-box">
          <%= text_field_tag :search_term, params[:search_term], placeholder: "Search" %>
            <button class="btn btn-default search-button" type="submit"></button>
        </div>
    <% end %>
      <%= link_to "LOGIN", "/auth/developer" %>
  <% end %>

  <%= yield %>

</body>
</html>
